/* Google font family link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Header Section */

header {
    padding: 8px;
    background-color: rgb(54, 45, 45);

}

#resume {
    color: rgb(250, 166, 10);
    font-weight: bolder;
}

.heading {
    color: rgb(30, 45, 46);
    font-style: italic;
    text-shadow: 4px 4px 4px rgba(89, 55, 55, 0.6);
    font-family: "Roboto", sans-serif;
}

.header-info {
    color: rgb(21, 220, 255);
    margin-right: 40px;
    margin-left: 10px;
}

#headeri {
    color: rgb(7, 255, 12);
}

#resume-text {
    margin-left: 10px;
}

/* Navigation Section */

#navSection {
    padding: 10px;
    text-align: right;
}

#navSection li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    font-weight: bold;
}

#navSection a {
    text-decoration: none;
    letter-spacing: 1.5px;
    color: rgb(254, 20, 137);
}

/* Container Section */

#container {
    width: 800px;
    margin: 20px auto;

}

table,
tr,
th,
td {
    text-align: center;
    border: 2px solid rgb(217, 204, 179);
    border-collapse: collapse;
    width: 100px;
}

td,
th {
    padding: 10px;
}

#techTable {
    width: 50%;
    font-family: "Roboto", sans-serif;
}



#listSummary li {
    padding-inline: 10px;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

#listSummary li::marker {
    content: "✍️";
}

#listRoles li {
    padding-inline: 10px;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

#listRoles li::marker {
    content: "✍️";
}

.porDetails {
    font-family: "Roboto", sans-serif;
}